/activej-app/.idea/
/activej-app/target/
/activej-app/dependency-reduced-pom.xml
/activej-app/release.properties
/activej-app/buildNumber.properties
/activej-app/.mvn/timing.properties
/activej-app/.mvn/wrapper/maven-wrapper.jar
